<% include partials/header %>
<h1><%= campground.name%></h1>

<img src="<%=campground.image %>">

<p><%=campground.description%></p>

<% campground.comments.forEach(function(comment) { %> 
    <p>
        <strong><%= comment.author %> </strong> - <%= comment.text %>
    </p>
<% }); %>
<p>
    <a class ="btn btn-default btn-lg" href="/campgrounds">Go Back To Campgrounds Page</a>
</p>
<% include partials/footer%>